.user-information-wrapper {
  position: absolute;
  display: flex;
  align-items: center;
  right: 156px;
  top: 50%;
  transform: translateY(-50%);
}
.user-information-wrapper img {
  margin-top: 4px;
}

.login-inf {
  cursor: pointer;
  margin-right: 5px;
}
.login-inf:hover {
  color: #2f80ed;
}
