.search-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

input {
  font-size: 12px;
  color: #929292;
  border-radius: 0;
  border: 0;
  padding: 0 0 0 5px;
  margin-left: 10px;
  width: 396px;
  height: 24px;
  display: flex;
  align-items: center;
}

input:focus {
  border: 0;
  width: 396px;
  height: 24px;
  scale: 1;
}

button {
  padding: 10px 20px;
  height: 24px;
  width: 80px;
  padding: 0;
  font-size: 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  font-size: 12px;
  background-color: #2f80ed;
  color: white;
  cursor: pointer;
  filter: drop-shadow(2px 0px 4px #2f80ed);
}
