<div class="search-result-item-wrap">
  <div class="search-result-item" [ngClass]="video.borderColor + '-border-bottom'">
    <app-video-thumbnail [url]="video.getThumbnailUrl('medium')"></app-video-thumbnail>
    <app-video-statistics
    [viewCount]="this.video.getStatistic('viewCount')"
    [likeCount]="this.video.getStatistic('likeCount')"
    [dislikeCount]="this.video.getStatistic('dislikeCount')"
    [commentCount]="this.video.getStatistic('commentCount')"
  ></app-video-statistics>
    <h3>{{video.getTitle().length > 20 ? video.getTitle().slice(0, 20) + '...' : video.getTitle() }}</h3>
    <button (click)="showMoreDetails()">more...</button>
  </div>
</div>
