<div class="new-card-form-wrapper">
  <h2>Create new card</h2>
  <form [formGroup]="addNewCardForm">
    <div class="input-block">
      <label for="title">Title:</label>
      <input type="text" id="title" formControlName="title" name="title" autocomplete="off" required>
      <div class="form-err-message-wrap" *ngIf="addNewCardForm.get('title')?.invalid &&
          (addNewCardForm.get('title')?.dirty || addNewCardForm.get('title')?.touched)">
        <div *ngIf="addNewCardForm.get('title')?.hasError('required')">Please enter a
          title</div>
        <div *ngIf="addNewCardForm.get('title')?.hasError('minlength')">The title is too
          short</div>
        <div *ngIf="addNewCardForm.get('title')?.hasError('maxlength')">The title is too
          long</div>
      </div>
    </div>
    <div class="input-block">
      <label for="discription">Discription:</label>
      <input type="text" id="discription" formControlName="discription" name="discription" autocomplete="off">
      <div class="form-err-message-wrap" *ngIf="addNewCardForm.get('discription')?.invalid &&
      (addNewCardForm.get('discription')?.dirty || addNewCardForm.get('discription')?.touched)">
        <div *ngIf="addNewCardForm.get('discription')?.errors?.['maxlength']">The discription is too
          long</div>
      </div>
    </div>
    <div class=" input-block">
          <label for="image-link">Image URL:</label>
          <input type="text" id="image-ink" formControlName="imageLink" name="image-link" autocomplete="off" required>
          <div class="form-err-message-wrap" *ngIf="addNewCardForm.get('imageLink')?.invalid &&
      (addNewCardForm.get('imageLink')?.dirty || addNewCardForm.get('imageLink')?.touched)">
            <div *ngIf="addNewCardForm.get('imageLink')?.errors?.['required']">Please enter a link to the image</div>
            <div *ngIf="addNewCardForm.get('imageLink')?.errors?.['pattern']">The image link is invalid</div>
          </div>
        </div>
        <div class="input-block">
          <label for="video-link">Video URL:</label>
          <input type="text" id="video-link" formControlName="videoLink" name="video-link" autocomplete="off" required>
          <div class="form-err-message-wrap" *ngIf="addNewCardForm.get('videoLink')?.invalid &&
      (addNewCardForm.get('videoLink')?.dirty || addNewCardForm.get('videoLink')?.touched)">
            <div *ngIf="addNewCardForm.get('videoLink')?.errors?.['required']">Please enter a link to the video</div>
            <div *ngIf="addNewCardForm.get('videoLink')?.errors?.['pattern']">The video link is invalid</div>
          </div>
        </div>
        <div class="input-block">
          <label for="date">Creation date:</label>
          <input type="date" id="date" formControlName="date" name="date" autocomplete="off" required>
          <div class="form-err-message-wrap"
            *ngIf="addNewCardForm.get('date')?.invalid && addNewCardForm.get('date')?.touched">
            <div *ngIf="addNewCardForm.get('date')?.errors?.['required']">Please enter a date</div>
            <div *ngIf="addNewCardForm.get('date')?.errors?.['date']">The date is invalid</div>
          </div>
        </div>
        <button type="submit" [disabled]="addNewCardForm">Create</button>
  </form>
</div>
