<div class="video-statistic">
  <ul>
    <li>
      <img src="../../../../../assets/icons/viewed.png" alt="viewed">
      <span>{{viewCount | numeralReduction}}</span>
    </li>
    <li> <img src="../../../../../assets/icons/liked.png" alt="likes">
      <span>{{likeCount | numeralReduction}}</span>
    </li>
    <li> <img src="../../../../../assets/icons/dislike.png" alt="disliked">
      <span>{{dislikeCount | numeralReduction}}</span>
    </li>
    <li> <img src="../../../../../assets/icons/commented.png" alt="commented">
      <span>{{commentCount | numeralReduction}}</span>
    </li>
  </ul>
</div>
